nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 1000px;

}

body {
    padding: 10px 80px;
    font-family: 'Poppins', sans-serif;
 
}

nav a {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 12px; 
}

nav .wrapper {
    display: flex;
    gap: 20px;
    align-items: center;

}

button {
    padding: 15px 25px;
    background: white;
    border: 1px solid #ccc;
    font-weight: bolder;
    border-radius: 5px;
    
}
button.orange {
    color: white;
    background: #FF9900;
}

button.transparant-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: transparent;
    color: #FF9900;
    text-decoration: underline;

}

header {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;

}
h2 {
    font-size: 45px;
}

p {
    font-size: 15px;
}

h3 {
    font-size: 20px;
}

#content >.wrapper {
    max-width: 1000px;

}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-first {
    display: flex;
    margin-bottom: 20px;

}

.flex-center {
    display: flex;
    justify-content: center;
}

.box {
    padding-right: 30px;
    
}

footer a {
    padding: 10px 80px;
    text-decoration: none;   
}

.container-second {
    display: flex;
    margin-top: 100px;
}

.container-third {
    display: flex;
    margin-top: 100px;
}

.container-fourth {
    display: flex;
    margin-top: 100px;
}

.text.right {
    align-items: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.flex-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer.wrapper {
    display: flex;
    padding-top: 50px;
    border-top: 1px solid #ccc;
    max-width: 1000px;
}

input {
    padding: 3px;
    margin-bottom: 3px;
    
}

button.small {
    padding: 7px 10px;
}